<h1>下書き保存</h1>

<% if @post.errors.any? %>
  <div id="error_explanation">
    <p><%= @post.errors.count %>件のエラーが発生しました</p>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @post, url: save_draft_posts_path, local: true) do |form| %>
  <div class="field">
    <h4>画像</h4>
    <%= form.file_field :image, accept: "image/*" %>
  </div>

  <div class="field">
    <h4>ショップ名</h4>
    <%= form.text_field :post_title %>
  </div>

  <div class="field">
    <h4>説明</h4>
    <%= form.text_area :post_text %>
  </div>

  <div class="actions">
    <%= form.submit '下書き保存' %>
  </div>
<% end %>