
<%= search_form_for @q, url: posts_path, method: :get, local: true do |f| %>
  <%= f.label :post_title_or_post_text_cont, "Search for:" %>
  <%= f.search_field :post_title_or_post_text_cont %>
  <%= f.submit "Search" %>
<% end %>

<% @posts.each do |post| %>
  <h2><%= post.post_title %></h2>
  <p><%= post.post_text %></p>
<% end %>


<% @posts.each do |post| %>
  <div>
    <%= link_to post_path(post.id) do %>
    　<%= image_tag post.get_image %>
  <% end %>
     <p>投稿ユーザー画像：<%= image_tag post.user.get_profile_image(100,100) %></p>
    <p>タイトル：<%= post.post_title %></p>
    <p>説明：<%= post.post_text %></p>
    <p>ユーザーネーム：<%= post.user.name %></p>
    <p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>
  </div>
<% end %>