<h1>新しいタイムライン項目を追加</h1>

<%= form_with(model: [@user, [:admin, @timeline_item]], local: true) do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <%= form.hidden_field :user_id, value: @user.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>