<style>
  body {
    font-family: "Kiwi Maru", sans-serif;
  }
  .jumbotron {
    opacity: 0.8;
  }
</style>
<div  style="background-image: url('<%= asset_path('22705469.jpg') %>'); background-size: cover; background-position: center 60%;">
　<div class="bg-image d-flex flex-column">
　<div class="container">
　<div class="jumbotron p-4 p-md-5 rounded-circle">
      <div class="text-center mx-auto">
      <h3><%= @user.name %></h3>
      <%= image_tag @user.get_profile_image(100, 100) %>
       <% if @user == current_user %>
       <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
       <%= link_to "ユーザー情報編集", edit_user_registration_path, class: "header-button" %>
       <% end %>

       <% if current_user.following?(@user) %>
       <%= button_to 'Unfollow', relationship_path(current_user.active_relationships.find_by(followed_id: @user.id)), method: :delete %>
     <% else %>
       <%= button_to 'Follow', relationships_path(followed_id: @user.id) %>
       <% end %>
    </div>
  </div>


    <div class="container">
      <div class="row">
        <% @posts.each do |post| %>
          <div class="px-1 mb-4 flex-grow-1 col-md-4">
            <div class="card shadow-sm">
            <%= link_to post_path(post.id) do %>
            <%= image_tag post.get_image, width: "100%", height: "100%", xlink: "href" %>
            <% end %>
              <rect width="100%" height="100%" fill="#55595c"></rect>

            <div class="card-body">
              <p class="card-text">
                <p>投稿ユーザー画像：<%= image_tag post.user.get_profile_image(100, 100) %></p>
                <p>ショップ名：<%= post.post_title %></p>
                <p>説明：<%= post.post_text.truncate(5) %></p>
                <p>ユーザーネーム：<%= post.user.name %></p>
                <p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>
                </p>
            </div>
          </div>
          </div>
<% end %>
</div>

<div class="row timeline">
  <% @timeline_items.each do |post| %>
    <div class="px-1 mb-4 flex-grow-1 col-md-4">
      <div class="card shadow-sm">
      <div class="card-body">
      <p class="card-text">
        <p>投稿ユーザー画像：<%= image_tag post.user.get_profile_image(100, 100) %></p>
        <p>ショップ名：<%= post.post_title %></p>
        <p>説明：<%= post.post_text.truncate(5) %></p>
        <p>ユーザーネーム：<%= post.user.name %></p>
        <p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>
      </p>
     </div>
     <small><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></small>
    </div>
    </div>
    </div>
  <% end %>
</div>
</div>